<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>FirstWeb2</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ReceiveMessage</servlet-name>
		<servlet-class>com.controller.StudentMessage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReceiveMessage</servlet-name>
		<url-pattern>/receiveMessage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.controller.StudentProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/studentProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProfileUpdateServlet</servlet-name>
		<servlet-class>com.controller.StudentEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileUpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServ</servlet-name>
		<servlet-class>com.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServ</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AllChallengeServlet</servlet-name>
		<servlet-class>com.controller.AllChallenge</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllChallengeServlet</servlet-name>
		<url-pattern>/AllChallenge</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.controller.StudentLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/studentlogin</url-pattern>
	</servlet-mapping>


</web-app>